.contactList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #75756a;
  width: 700px;
  padding: 5px;
  border-radius: 5px;
}

.contactItem {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  font-size: 34px;
  background-color: #f5f5dc;
  border-radius: 5px;
  &:nth-child(2n + 1) {
    background-color: #dbdbc5;
  }
}
.deleteButton {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  width: 100px;
}
.deleteButton:hover {
  border-color: antiquewhite;
  color: tomato;
}
